*{  
  margin:0px;
  padding: 0px;
}

:root {
  --altura_header: 60px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
}

body {
  overflow-x: hidden;
  width: 100%;
}
.home {
  background-image: url(/assets/pikachu_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.nav_desktop {
  --ease: all 300ms ease;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  list-style: none;
  transition: var(--ease);
}

.nav-link {
  display: inline-block;
  align-content: center;
  color: black;
}

.welcome {
  text-align: center;
  padding-top: 5%;
}

.nav_desktop p {
  font-size: 20px;
}

.welcome h1 {
  font-weight: bold;
}

.welcome p {
  padding-top: 10px;
  font-size: 12px;
}

.welcome button { 
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
  border: 1px solid #00c9b9;
  background-color: #00c9b9;
  font-size: 13px;
}

.history h2{
  text-align: center;
  font-weight: bold;
  font-size: 30px
}

.firstSteps {
  border-left: 4px solid #00e590;
  display: flex;
  margin: 10px 0px;
}

.imgDate {
  display: flex;
  padding: 25px;
  gap: 10px;
}

.imgDate p{
  color: #00e590;
  font-size: 30px;
  font-weight: bold;
}

.titleDesc h3 {
  color: #00e590;
  font-size: 20px;
  font-weight: bold;

}

.titleDesc p { 
  font-weight: bold;
  color: #919191;
  font-size: 14px;
}

.gameboy {
  border-right: 4px solid red;
  display: flex;
  margin: 10px 0px;
}

.imgDate {
  display: flex;
  padding: 25px;
  gap: 10px;
}

.gameboy .imgDate p{
  color: red;
}

.gameboy .titleDesc h3 {
  color: red;
}

.pikachu {
  border-left: 4px solid #f7d846;
  display: flex;
  margin: 10px 0px;
}

.pikachu .imgDate p{
  color: #f7d846;
}

.pikachu .titleDesc h3 {
  color: #f7d846;
}

.scroll {
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.pokedex h1 {
  text-align: center;
  font-weight: bold;
}

.favs h1 {
  text-align: center;
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  gap: 10px;
}

.search input {
  border-radius: 15px;
  width: 40%;
  padding: 0px 10px;
}

.search button {
  padding: 7px 50px;
  color: white;
  background-color: #00c9b9;
  border-radius: 30px;
  border: 1px solid #00c9b9
}

/* --------------------------- */

.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  margin: 0px 50px;

}
.cardContent {
  border: 1px solid rgba(201,195,201,0.5);
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 10px 10px 7px -1px rgba(201,195,201,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 20%;
  margin: 25px;
}

.cardContent img {
  border-radius: 100px;
  border: 1px solid #b9dadb;
  background-color: #b9dadb;
  margin-bottom: 20px;
  
}

.cardContent h3 {
  font-size: 17px;
  font-weight: bold;
}

.cardContent p {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;

}

.addFavBtn {
  border-radius: 20px;
  border: 1px solid #00c9b9;
  background-color: #00c9b9;
  color: white;
  padding: 10px 35px;
  font-size: 12px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.removeFavBtn {
  background-color: white;
  color: #00c9b9;
  border-radius: 20px;
  border: 2px solid #00c9b9;
  padding: 10px 35px;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .home {
    background-color: #fff;
    background-image: none;
    height: 25vh;
  }
  .welcome {
    width: 100%;
  }

  .nav_desktop { 
    display: none;
  }
  .li_icon {
    cursor: pointer;
  }
  .cardContent {
    width: 80%;
    margin: 10px;
    height: auto;
  }
  .search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 30px;
  }
  .search input {
    width: 60%;
    height: 4vh;
    border-radius: 50px;
  }
  .search button {
    width: 35%;
    align-self: center;
    text-align: center;
  }
  .header { 
    height: var(--altura_header);
    display: block;
    padding: 30px 0px
  
  }
  a {
    text-decoration: none;
  }
  
  ol, ul, li {
    list-style: none;
  }
  
  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
  }
  
  .ul_links {
    width: 100%;
    top: var(--altura_header);
    background-color: #fff;
    display: flex;
    left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    z-index: 99999;
  }
  
  .links {
    color: black;
    font-weight: bold;
  }
  
  #hamburguer_menu:checked + .ul_links {
    height: 25vh;
  }
  
  .title {
    margin-top: 80px;
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  .navbar li {
    font-weight: bold;
    font-size: 20px;
  }
}